// SCSS Variables
$primary-main: #002D60;
$primary-light: #1A4A7A;
$primary-dark: #001A3D;
$primary-contrast: #FFFFFF;

$secondary-main: #2D6000;
$secondary-light: #4A7A1A;
$secondary-dark: #1A3D00;
$secondary-contrast: #FFFFFF;

